.bodycss{
    background-color: rgb(112, 112, 112);
}

.grön{
    background-color: rgb(0, 255, 0);
    height: 200px;
    width: 200px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 20px solid darkgreen;
    
}

.gul{
    background-color: rgb(255, 251, 0);
    height: 200px;
    width: 200px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 20px solid rgb(153, 164, 0);
    
}

.röd{
    background-color: rgb(223, 0, 0);
    height: 200px;
    width: 200px;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 20px solid rgb(100, 0, 0);
    
}


.insidagrön{
    background-color: rgb(176, 255, 144);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.insidagul{
    background-color: rgb(255, 251, 181);
    align-items: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
}

.insidaröd{
    background-color:rgb(255, 136, 136);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.size1{
    width: 100%;
    height: 50%;
}

.size2{
    width: 50%;
    height: 50%;
}

.size3 {
    width: 50%;
    height: 50%;
}